*
{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: Light;
  
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body
{
  background-color: #000000;
  color: white;
   font-weight: 300;
   height: 100%;
}
nav{
  
   display: flex;
  align-items: center; 
  justify-content: space-between;
  /* border-bottom: 1px solid #5B6463; */
  font-size: large;
  font-weight: 400;
  padding: 1.5rem 1rem;
  position: sticky;

}
nav a {
  color: inherit;         /* inherit the parent color (no blue) */
  text-decoration: none;  /* remove underline */
}
.logo
{
  
  margin-left: 1rem;
}
ul
{
  display: flex;
  list-style: none;
  gap: 40px;
}
ul li{
  cursor: pointer;
}
.auth
{
  margin-left: 12rem;
  display: flex;
}
.signup, .signin
{
  margin: 0px 2rem 0px 0px;
}
.signup{
  margin-left: 6rem;
}
main{
  flex: 1;
}

.footer {
  background-color: #5B6463; 
  color: white;
  text-align: center;
  margin: auto 0px;
  height: 5rem;
  line-height: 5rem;  
  font-size: 1rem;

  bottom: 0px;
}

.footer p {
  margin: auto;
}
